header
{background-color: #759FE1;
  font-family: "charter", "fantasy";
  font-size: 4em;
}
aside {
  width: 40%;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 4px;
  margin-right: 4px;
  float: left;
 
}
footer
{background-color: #759FE1;
  font-family: "charter", "fantasy";
  font-size: 1em;
}
